In [1]:
INIT_bet_id = "55"

In [2]:
import mysql.connector 
# ------------------------------------------------------
host="localhost"
user="root" 
database="pr_mmbuzz_2022_06"
mydb = mysql.connector.connect(host=host,user=user,password="",database=database)
mycursor = mydb.cursor()
# ------------------------------------------------------
query = "select "
query += " bet_id "
query += " , bet  "
query += " , value  "
query += " , columny  "
query += " , columnx  "
query += " , idx  "
query += " from bets_old " 
query += " where bet_id = " + INIT_bet_id   
query += " order by bet_id, total asc "   
# ------------------------------------------------------   
print(query)
# ------------------------------------------------------   
mycursor = mydb.cursor()
mycursor.execute(query)
result2 =  mycursor.fetchall()
# ------------------------------------------------------    
total_rows = len(result2)
# ------------------------------------------------------    
mycursor.close()
mydb.close()

select  bet_id  , bet   , value   , columny   , columnx   , idx   from bets_old  where bet_id = 55 order by bet_id, total asc

ProgrammingError: 1054 (42S22): Unknown column 'idx' in 'field list'

In [ ]:
# ----------------------------------------------------- 
# ----------------------------------------------------- 
word = '<div class="btn-group mt-2">'
print(word, flush=True)
# ----------------------------------------------------- 
space = "    "
# ----------------------------------------------------- 
for x in result2:  
    # ------------------------------------------------- 
    bet_id = str(x[0])
    bet = str(x[1])
    value = str(x[2])
    columny = str(x[3])
    columnx = str(x[4])
    idx = str(x[5])
    # ------------------------------------------------- 
    word = space + '<a'
    print(word, flush=True)
    # ------------------------------------------------- 
    word = space + space + '@if(!is_null($row->pre_'+columnx+'))'
    print(word, flush=True)
    # ------------------------------------------------- 
    route = "{{route('Mybets.datacreateanalysis',["
    # ------------------------------------------------- 
    word = space + space + space + 'href="'+route
    print(word, flush=True)
    # ------------------------------------------------- 
    word = space + space + space + space + "'leagueapi_id' => $row->leagueapi_id,"
    print(word, flush=True)
    # ------------------------------------------------- 
    word = space + space + space + space + "'season' => $row->season,"
    print(word, flush=True)
    # ------------------------------------------------- 
    word = space + space + space + space + "'fixtureapi_id' => $row->fixtureapi_id,"
    print(word, flush=True)
    # ------------------------------------------------- 
    word = space + space + space + space + "'betsapi_id' => "+idx+","
    print(word, flush=True)
    # ------------------------------------------------- 
    word = space + space + space + space + "'value' => " + "'" + value + "'"+ ","
    print(word, flush=True)
    # ------------------------------------------------- 
    word = space + space + space + space + "'odd' => $row->pre_"+columnx+","
    print(word, flush=True)
    # ------------------------------------------------- 
    word = space + space + space + '])}}"'
    print(word, flush=True)
    # ------------------------------------------------- 
    word = space + space + '@endif'
    print(word, flush=True)
    # ------------------------------------------------- 
    word = space + space + 'target="_blank"'
    print(word, flush=True)
    # ------------------------------------------------- 
    word = space + space + 'class="btn bg-gray-700 btn-sm text-white">'
    print(word, flush=True)
    # ------------------------------------------------- 
    word = space + space + value
    print(word, flush=True)
    # ------------------------------------------------- 
    word = space + space + "<br/>"
    print(word, flush=True)
    # ------------------------------------------------- 
    word = space + space + "{{ $row->pre_"+columnx+" }}"
    print(word, flush=True)
    # ------------------------------------------------- 
    word = space + '</a>'
    print(word, flush=True)
    # ------------------------------------------------- 
# ----------------------------------------------------- 
# ----------------------------------------------------- 
# ----------------------------------------------------- 
# ----------------------------------------------------- 
word = '</div>'
print(word, flush=True)
# -----------------------------------------------------

In [ ]:
# ----------------------------------------------------- 
word = ''
print(word, flush=True)
# ----------------------------------------------------- 
word = '<br/>'
print(word, flush=True)
# ----------------------------------------------------- 
word = ''
print(word, flush=True)
# ----------------------------------------------------- 
word = ''
print(word, flush=True)
# ----------------------------------------------------- 
word = '<div class="btn-group mt-2">'
print(word, flush=True)
# ----------------------------------------------------- 
# ----------------------------------------------------- 
# ----------------------------------------------------- 
space = "    "
# ----------------------------------------------------- 
for x in result2:  
    # ------------------------------------------------- 
    bet_id = str(x[0])
    bet = str(x[1])
    value = str(x[2])
    columny = str(x[3])
    columnx = str(x[4])
    idx = str(x[5])
    # ------------------------------------------------- 
    word = space + '<a'
    print(word, flush=True)
    # ------------------------------------------------- 
    word = space + space + '@if(!is_null($row->end_'+columnx+'))'
    print(word, flush=True)
    # ------------------------------------------------- 
    route = "{{route('Mybets.datacreate',["
    # ------------------------------------------------- 
    word = space + space + space + 'href="'+route
    print(word, flush=True)
    # ------------------------------------------------- 
    word = space + space + space + space + "'leagueapi_id' => $row->leagueapi_id,"
    print(word, flush=True)
    # ------------------------------------------------- 
    word = space + space + space + space + "'season' => $row->season,"
    print(word, flush=True)
    # ------------------------------------------------- 
    word = space + space + space + space + "'fixtureapi_id' => $row->fixtureapi_id,"
    print(word, flush=True)
    # ------------------------------------------------- 
    word = space + space + space + space + "'betsapi_id' => "+idx+","
    print(word, flush=True)
    # ------------------------------------------------- 
    word = space + space + space + space + "'value' => " + "'" + value + "'"+ ","
    print(word, flush=True)
    # ------------------------------------------------- 
    word = space + space + space + space + "'odd' => $row->end_"+columnx+","
    print(word, flush=True)
    # ------------------------------------------------- 
    word = space + space + space + '])}}"'
    print(word, flush=True)
    # ------------------------------------------------- 
    word = space + space + '@endif'
    print(word, flush=True)
    # ------------------------------------------------- 
    word = space + space + 'target="_blank"'
    print(word, flush=True)
    # ------------------------------------------------- 
    word = space + space + 'class="btn bg-gray-800 btn-sm text-white">'
    print(word, flush=True)
    # ------------------------------------------------- 
    word = space + space + "{{ $row->end_"+columnx+" }}"
    print(word, flush=True)
    # ------------------------------------------------- 
    word = space + '</a>'
    print(word, flush=True)
    # ------------------------------------------------- 
# ----------------------------------------------------- 
# ----------------------------------------------------- 
# ----------------------------------------------------- 
# ----------------------------------------------------- 
word = '</div>'
print(word, flush=True)
# -----------------------------------------------------