In [1]:
stats = [
    'goals',
    'score_halftime',
    'score_secondtime',
    'shots_on_goal',
    'shots_off_goal',
    'total_shots',
    'blocked_shots',
    'shots_inside_box',
    'shots_outside_box',
    'fouls',
    'corner_kicks',
    'offsides',
    'ball_possession',
    'yellow_cards',
    'red_cards',
    'goalkeeper_saves',
    'total_passess',
    'passess_accurate',
    'passess', 
    'cards'
]

In [2]:
end_col = 'passess_away'

In [3]:
import mysql.connector

# ALTER TABLE `football_fixtures` ADD `aaa` DECIMAL(5,3) NULL DEFAULT NULL AFTER `end_exact_score`; 

# -----------------------------------------------------------------
query = ""
# ----------------------------------------------------------------- 
host="localhost"
user="root"
database="pr_mmbuzz_2022_06" 
mydb = mysql.connector.connect( host=host, user=user, password="", database=database )
mycursor = mydb.cursor()
# ----------------------------------------------------------------- 
for x in stats:
    # -------------------------------------------------------------
    # -------------------------------------------------------------
    # -------------------------------------------------------------
    new_col = x + '_total_home'
    query += "ALTER TABLE `football_statistics` ADD `"+new_col+"` DOUBLE NULL DEFAULT NULL AFTER `"+end_col+"`;"
    end_col = new_col  
    # -------------------------------------------------------------
    new_col = x + '_total_home_ratio'
    query += "ALTER TABLE `football_statistics` ADD `"+new_col+"` DOUBLE NULL DEFAULT NULL AFTER `"+end_col+"`;"
    end_col = new_col  
    # -------------------------------------------------------------
    new_col = x + '_total_away'
    query += "ALTER TABLE `football_statistics` ADD `"+new_col+"` DOUBLE NULL DEFAULT NULL AFTER `"+end_col+"`;"
    end_col = new_col  
    # -------------------------------------------------------------
    new_col = x + '_total_away_ratio'
    query += "ALTER TABLE `football_statistics` ADD `"+new_col+"` DOUBLE NULL DEFAULT NULL AFTER `"+end_col+"`;"
    end_col = new_col 
    # -------------------------------------------------------------
    new_col = x + '_as_home'
    query += "ALTER TABLE `football_statistics` ADD `"+new_col+"` DOUBLE NULL DEFAULT NULL AFTER `"+end_col+"`;"
    end_col = new_col  
    # -------------------------------------------------------------
    new_col = x + '_as_home_ratio'
    query += "ALTER TABLE `football_statistics` ADD `"+new_col+"` DOUBLE NULL DEFAULT NULL AFTER `"+end_col+"`;"
    end_col = new_col  
    # -------------------------------------------------------------
    new_col = x + '_opponents_home'
    query += "ALTER TABLE `football_statistics` ADD `"+new_col+"` DOUBLE NULL DEFAULT NULL AFTER `"+end_col+"`;"
    end_col = new_col  
    # -------------------------------------------------------------
    new_col = x + '_opponents_home_ratio'
    query += "ALTER TABLE `football_statistics` ADD `"+new_col+"` DOUBLE NULL DEFAULT NULL AFTER `"+end_col+"`;"
    end_col = new_col  
    # -------------------------------------------------------------
    new_col = x + '_as_away'
    query += "ALTER TABLE `football_statistics` ADD `"+new_col+"` DOUBLE NULL DEFAULT NULL AFTER `"+end_col+"`;"
    end_col = new_col  
    # -------------------------------------------------------------
    new_col = x + '_as_away_ratio'
    query += "ALTER TABLE `football_statistics` ADD `"+new_col+"` DOUBLE NULL DEFAULT NULL AFTER `"+end_col+"`;"
    end_col = new_col  
    # -------------------------------------------------------------
    new_col = x + '_opponents_away'
    query += "ALTER TABLE `football_statistics` ADD `"+new_col+"` DOUBLE NULL DEFAULT NULL AFTER `"+end_col+"`;"
    end_col = new_col  
    # -------------------------------------------------------------
    new_col = x + '_opponents_away_ratio'
    query += "ALTER TABLE `football_statistics` ADD `"+new_col+"` DOUBLE NULL DEFAULT NULL AFTER `"+end_col+"`;"
    end_col = new_col  
    
# -----------------------------------------------------------------
print(query)
# mycursor.execute(query)
# mydb.commit()  
# # ------------------------ close the cursor and database connection
# mycursor.close()
# mydb.close()

MySQLInterfaceError: Commands out of sync; you can't run this command now