In [1]:
# Import 
import sys
sys.path.append('../')

from a_settings.messages import *   
from a_models.date import *   
from a_models.api_odds_new import *   
from a_models.api_player_squad import *   
     
if __name__ == '__main__': 
    # --------------------------------------------------  
    its_start()
    # --------------------------------------------------  
    space = "  __"
    print(space + "main()", flush=True)  
    # --------------------------------------------------    
    space += "__" 
    # --------------------------------------------------   
    leagueapi_id    = input(space + "Enter your leagueapi id :  ")  
    # --------------------------------------------------  
    aps_group_by_all_team(leagueapi_id, space)
    # -------------------------------------------------- 
    its_end()  
    ####################################################

# -------------------------------------------------- Start at 2023-08-25 21:35:32
  __main()
  ______aps_group_by_all_team()
  ______Select  teams_homeapi_id  from football_fixtures  where leagueapi_id =  '43'  group by teams_homeapi_id
  ______Total Row(s) : 35
  ______[1/35]  #1339
  ________aps_controll_match_update()
  __________aa_check_acccount()
  ____________API api5@ariondigitalmedia.com counter is 38
  ____________APIkey: 659647a05amsh6edd971d4edbc55p10ab33jsn691d349ab9da
  __________aa_check_acccount()
  __________aa_update_counter()
  __________aps_response_odds()
  ____________leagueapi_id : 43
  ____________teamapi_id : 1339
  ______________Total API Response(s) : 1
  __________________aps_delete()
  ____________________teamapi_id : 1339
  ______________________ delete  from football_player_squads  where teamapi_id = 1339
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  144741,  'L. Moulden',  '21',  '1',  'Goalkeeper',  'https://media-1.api-sports.io/football/players/144741.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  338171,  'B. Kelly',  '23',  '12',  'Goalkeeper',  'https://media-2.api-sports.io/football/players/338171.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  18743,  'C. John',  '24',  '3',  'Defender',  'https://media-1.api-sports.io/football/players/18743.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  158699,  'M. Taylor',  '23',  '5',  'Defender',  'https://media-1.api-sports.io/football/players/158699.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  20229,  'E. Ebanks-Landell',  '31',  '6',  'Defender',  'https://media-2.api-sports.io/football/players/20229.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  417558,  'G. Nevett',  '17',  '15',  'Defender',  'https://media-2.api-sports.io/football/players/417558.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  284265,  'K. Oduroh',  '21',  '16',  'Defender',  'https://media-3.api-sports.io/football/players/284265.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  19237,  'A. Clayton',  '34',  '8',  'Midfielder',  'https://media-3.api-sports.io/football/players/19237.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  20246,  'J. Keohane',  '32',  '13',  'Midfielder',  'https://media-1.api-sports.io/football/players/20246.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  428611,  'M. Afuye',  'None',  '17',  'Midfielder',  'https://media-1.api-sports.io/football/players/428611.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  17516,  'H. Gilmour',  '25',  '20',  'Midfielder',  'https://media-2.api-sports.io/football/players/17516.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  159007,  'K. Ferguson',  '24',  '24',  'Midfielder',  'https://media-2.api-sports.io/football/players/159007.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  384402,  'K. Dos Santos',  'None',  '28',  'Midfielder',  'https://media-1.api-sports.io/football/players/384402.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  430465,  'John Dunlop',  '17',  '29',  'Midfielder',  'https://media-1.api-sports.io/football/players/430465.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  418632,  'B. Bailey',  '18',  '31',  'Midfielder',  'https://media-1.api-sports.io/football/players/418632.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  350586,  'T. McDermott',  '18',  'None',  'Midfielder',  'https://media-2.api-sports.io/football/players/350586.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  345776,  'J. Uchegbulam',  'None',  'None',  'Midfielder',  'https://media-1.api-sports.io/football/players/345776.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  17464,  'T. Sinclair',  '22',  '7',  'Attacker',  'https://media-1.api-sports.io/football/players/17464.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  155282,  'K. Mitchell',  '26',  '9',  'Attacker',  'https://media-3.api-sports.io/football/players/155282.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  18142,  'D. Rodney',  '25',  '10',  'Attacker',  'https://media-3.api-sports.io/football/players/18142.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  375872,  'M. Shubbar',  '20',  '22',  'Attacker',  'https://media-1.api-sports.io/football/players/375872.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  394625,  'O. Kelly',  '16',  '27',  'Attacker',  'https://media-3.api-sports.io/football/players/394625.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  413022,  'D. Ehimamiegho',  '17',  '32',  'Attacker',  'https://media-3.api-sports.io/football/players/413022.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  20252,  'I. Henderson',  '38',  '40',  'Attacker',  'https://media-1.api-sports.io/football/players/20252.png',  current_timestamp )

  ____________________football_teams UPDATED
  ______[2/35]  #1340
  ________aps_controll_match_update()
  __________aa_check_acccount()
  ____________API api5@ariondigitalmedia.com counter is 37
  ____________APIkey: 659647a05amsh6edd971d4edbc55p10ab33jsn691d349ab9da
  __________aa_check_acccount()
  __________aa_update_counter()
  __________aps_response_odds()
  ____________leagueapi_id : 43
  ____________teamapi_id : 1340
  ______________Total API Response(s) : 1
  __________________aps_delete()
  ____________________teamapi_id : 1340
  ______________________ delete  from football_player_squads  where teamapi_id = 1340
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  19949,  'A. Chapman',  '33',  'None',  'Goalkeeper',  'https://media-2.api-sports.io/football/players/19949.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  18000,  'R. Fitzsimons',  '29',  'None',  'Goalkeeper',  'https://media-1.api-sports.io/football/players/18000.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  82647,  'R. Barrows',  '26',  'None',  'Defender',  'https://media-2.api-sports.io/football/players/82647.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  18225,  'A. Boyce',  '34',  'None',  'Defender',  'https://media-2.api-sports.io/football/players/18225.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  19954,  'T. Denton',  '28',  'None',  'Defender',  'https://media-1.api-sports.io/football/players/19954.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  18438,  'W. Evans',  '32',  'None',  'Defender',  'https://media-2.api-sports.io/football/players/18438.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  20200,  'M. Kelly',  '26',  'None',  'Defender',  'https://media-2.api-sports.io/football/players/20200.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  69389,  'M. Kouogun',  '26',  'None',  'Defender',  'https://media-1.api-sports.io/football/players/69389.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  68129,  'R. Ogle',  '24',  'None',  'Defender',  'https://media-3.api-sports.io/football/players/68129.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  352780,  'E. Young',  '19',  'None',  'Defender',  'https://media-2.api-sports.io/football/players/352780.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  19942,  'A. Beestin',  '26',  'None',  'Midfielder',  'https://media-2.api-sports.io/football/players/19942.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  20496,  'J. Butterfield',  '33',  'None',  'Midfielder',  'https://media-1.api-sports.io/football/players/20496.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  167166,  'M. Clunan',  '29',  'None',  'Midfielder',  'https://media-1.api-sports.io/football/players/167166.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  20465,  'T. Pugh',  '23',  'None',  'Midfielder',  'https://media-3.api-sports.io/football/players/20465.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  18262,  'D. Rance',  '32',  'None',  'Midfielder',  'https://media-3.api-sports.io/football/players/18262.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  275564,  'K. Scales',  '21',  'None',  'Midfielder',  'https://media-1.api-sports.io/football/players/275564.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  273318,  'F. Shrimpton',  '21',  'None',  'Midfielder',  'https://media-1.api-sports.io/football/players/273318.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  325032,  'C. Wilson',  '21',  'None',  'Midfielder',  'https://media-3.api-sports.io/football/players/325032.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  17930,  'D. Elliott',  '28',  'None',  'Attacker',  'https://media-1.api-sports.io/football/players/17930.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  17473,  'J. Law',  '24',  'None',  'Attacker',  'https://media-1.api-sports.io/football/players/17473.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  17585,  'C. Roberts',  '26',  'None',  'Attacker',  'https://media-3.api-sports.io/football/players/17585.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  82315,  'D. Sembie-Ferris',  '27',  'None',  'Attacker',  'https://media-1.api-sports.io/football/players/82315.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  382343,  'N. Wallace',  '19',  'None',  'Attacker',  'https://media-2.api-sports.io/football/players/382343.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  127121,  'D. Whitehall',  '28',  'None',  'Attacker',  'https://media-1.api-sports.io/football/players/127121.png',  current_timestamp )

  ____________________football_teams UPDATED
  ______[3/35]  #1341
  ________aps_controll_match_update()
  __________aa_check_acccount()
  ____________API api5@ariondigitalmedia.com counter is 36
  ____________APIkey: 659647a05amsh6edd971d4edbc55p10ab33jsn691d349ab9da
  __________aa_check_acccount()
  __________aa_update_counter()
  __________aps_response_odds()
  ____________leagueapi_id : 43
  ____________teamapi_id : 1341
  ______________Total API Response(s) : 1
  __________________aps_delete()
  ____________________teamapi_id : 1341
  ______________________ delete  from football_player_squads  where teamapi_id = 1341
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  334009,  'C. Andeng Ndi',  '20',  '30',  'Goalkeeper',  'https://media-2.api-sports.io/football/players/334009.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  155701,  'G. Scott-Morriss',  '26',  '2',  'Defender',  'https://media-1.api-sports.io/football/players/155701.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  45035,  'N. Ralph',  '30',  '3',  'Defender',  'https://media-2.api-sports.io/football/players/45035.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  153068,  'L. Lomas',  '23',  '4',  'Defender',  'https://media-2.api-sports.io/football/players/153068.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  17564,  'O. Kensdale',  '23',  '6',  'Defender',  'https://media-1.api-sports.io/football/players/17564.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  18388,  'H. Taylor',  '26',  '16',  'Defender',  'https://media-3.api-sports.io/football/players/18388.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  20335,  'J. Demetriou',  '36',  '24',  'Defender',  'https://media-3.api-sports.io/football/players/20335.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  17779,  'J. Bridge',  '28',  '7',  'Midfielder',  'https://media-2.api-sports.io/football/players/17779.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  18018,  'Noor Husin',  '26',  '8',  'Midfielder',  'https://media-3.api-sports.io/football/players/18018.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  82768,  'C. Powell',  '27',  '11',  'Midfielder',  'https://media-2.api-sports.io/football/players/82768.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  378945,  'J. Wood',  '28',  '14',  'Midfielder',  'https://media-3.api-sports.io/football/players/378945.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  18237,  'C. Miley',  '28',  '17',  'Midfielder',  'https://media-1.api-sports.io/football/players/18237.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  18394,  'W. Fonguck',  '26',  '18',  'Midfielder',  'https://media-3.api-sports.io/football/players/18394.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  379044,  'J. Crowhurst',  '19',  '27',  'Midfielder',  'https://media-3.api-sports.io/football/players/379044.png',  current_timestamp )
  ____________________INSERT INTO `football_players`(  `playerapi_id`,  `name`,  `age`,  `number`,  `position`,  `photo`,  `created_at`  ) VALUES (  278109,  'O. Coker',  '20',  '28',  'Midfielder',  'https://media-1.api-sports.io/football/players/278109.png',  current_timestamp )

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 's Lynn Town',  `logo` = 'https://media-1.api-sports.io/football/teams/8655.pn...' at line 1