In [1]:
import mysql.connector 


# Import
import sys
sys.path.append('../')

from a_models.api_fixtures import *   

# ------------------------------------------------------
space = "  "
# ------------------------------------------------------
host="localhost"
user="root" 
database="pr_mmbuzz_2022_06"
mydb = mysql.connector.connect(host=host,user=user,password="",database=database)
mycursor = mydb.cursor()
# ------------------------------------------------------
query = "select "
query += " leagueapi_id "
query += " , season  " 
query += " from football_odds " 
query += " group by leagueapi_id "   
query += " , season "   
# ------------------------------------------------------   
print(query)
# ------------------------------------------------------   
mycursor = mydb.cursor()
mycursor.execute(query)
result =  mycursor.fetchall()
# ------------------------------------------------------    
total_rows = len(result)
# ------------------------------------------------------    
mycursor.close()
mydb.close() 
# ------------------------------------------------------ 
counter = 0
countrows = total_rows
# ------------------------------------------------------ 
space += "  "
# ------------------------------------------------------ 
for x in result:    
    # -------------------------------------------------- 
    counter             += 1
    countrows           -= 1
    # --------------------------------------------------  
    leagueapi_id      = str(x[0]) 
    season            = str(x[1])   
    # --------------------------------------------------  
    word = space + "[" + str(counter) + "/" + str(total_rows) + "] " + str(countrows) + ". " 
    word += " >> " + leagueapi_id  
    word += " - " + season   
    # --------------------------------------------------  
    print(word, flush=True)   
    # --------------------------------------------------   
    # --------------------------------------------------  
    host="localhost"
    user="root" 
    database="pr_mmbuzz_2022_06"
    mydb2 = mysql.connector.connect(host=host,user=user,password="",database=database)
    mycursor2 = mydb2.cursor()
    # --------------------------------------------------  
    query2 = "select "
    query2 += " COUNT(fixtureapi_id) AS counter  " 
    query2 += " from football_fixtures " 
    query2 += " where leagueapi_id = '"+str(leagueapi_id)+"' "   
    query2 += " and season = '"+str(season)+"' "    
    # --------------------------------------------------  
    print(space + query2, flush=True)    
    # --------------------------------------------------  
    mycursor2 = mydb2.cursor()
    mycursor2.execute(query2) 
    result2 = mycursor2.fetchone()
    # --------------------------------------------------   
    # The count will be available in the 'counter' variable of the result tuple
    total_rows2 = result[0]
    # --------------------------------------------------  
    print(space + "total_rows2: " + str(total_rows2), flush=True)    
    # --------------------------------------------------  
    mycursor.close()
    mydb.close() 
    # -------------------------------------------------- 
    if(total_rows2 == 0):
        # ----------------------------------------------
        DICT = {
            'leagueapi_id' :leagueapi_id,
            'season' :season, 
        }
        # ----------------------------------------------   
        ROUTES = 'all_match'
        af_controll_match_update(DICT, ROUTES, space)
        # ----------------------------------------------   
    else:
        word = "sudah ada"
        print(space + word, flush=True)    
    # --------------------------------------------------
# ------------------------------------------------------

select  leagueapi_id  , season   from football_odds  group by leagueapi_id  , season
    [1/679] 678.  >> 1 - 2010
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '1'  and season = '2010'
    total_rows2: 1
    sudah ada
    [2/679] 677.  >> 1 - 2014
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '1'  and season = '2014'
    total_rows2: 1
    sudah ada
    [3/679] 676.  >> 1 - 2018
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '1'  and season = '2018'
    total_rows2: 1
    sudah ada
    [4/679] 675.  >> 1 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '1'  and season = '2022'
    total_rows2: 1
    sudah ada
    [5/679] 674.  >> 2 - 2020
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '2'  and season = '2020'
    total_rows2: 1
    sudah ada
    [6/679] 673.  >> 2 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '2'  and season = '2021'
    total_rows2: 1
    sudah ada
    [7/679] 672.  >> 2 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '2'  and season = '2022'
    total_rows2: 1
    sudah ada
    [8/679] 671.  >> 2 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '2'  and season = '2023'
    total_rows2: 1
    sudah ada
    [9/679] 670.  >> 3 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '3'  and season = '2021'
    total_rows2: 1
    sudah ada
    [10/679] 669.  >> 3 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '3'  and season = '2022'
    total_rows2: 1
    sudah ada
    [11/679] 668.  >> 5 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '5'  and season = '2022'
    total_rows2: 1
    sudah ada
    [12/679] 667.  >> 8 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '8'  and season = '2023'
    total_rows2: 1
    sudah ada
    [13/679] 666.  >> 10 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '10'  and season = '2023'
    total_rows2: 1
    sudah ada
    [14/679] 665.  >> 11 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '11'  and season = '2022'
    total_rows2: 1
    sudah ada
    [15/679] 664.  >> 11 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '11'  and season = '2023'
    total_rows2: 1
    sudah ada
    [16/679] 663.  >> 12 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '12'  and season = '2022'
    total_rows2: 1
    sudah ada
    [17/679] 662.  >> 13 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '13'  and season = '2022'
    total_rows2: 1
    sudah ada
    [18/679] 661.  >> 13 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '13'  and season = '2023'
    total_rows2: 1
    sudah ada
    [19/679] 660.  >> 14 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '14'  and season = '2022'
    total_rows2: 1
    sudah ada
    [20/679] 659.  >> 16 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '16'  and season = '2023'
    total_rows2: 1
    sudah ada
    [21/679] 658.  >> 18 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '18'  and season = '2022'
    total_rows2: 1
    sudah ada
    [22/679] 657.  >> 19 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '19'  and season = '2022'
    total_rows2: 1
    sudah ada
    [23/679] 656.  >> 20 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '20'  and season = '2022'
    total_rows2: 1
    sudah ada
    [24/679] 655.  >> 22 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '22'  and season = '2023'
    total_rows2: 1
    sudah ada
    [25/679] 654.  >> 24 - 2018
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '24'  and season = '2018'
    total_rows2: 1
    sudah ada
    [26/679] 653.  >> 24 - 2020
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '24'  and season = '2020'
    total_rows2: 1
    sudah ada
    [27/679] 652.  >> 24 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '24'  and season = '2022'
    total_rows2: 1
    sudah ada
    [28/679] 651.  >> 25 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '25'  and season = '2023'
    total_rows2: 1
    sudah ada
    [29/679] 650.  >> 29 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '29'  and season = '2022'
    total_rows2: 1
    sudah ada
    [30/679] 649.  >> 30 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '30'  and season = '2022'
    total_rows2: 1
    sudah ada
    [31/679] 648.  >> 31 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '31'  and season = '2022'
    total_rows2: 1
    sudah ada
    [32/679] 647.  >> 33 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '33'  and season = '2022'
    total_rows2: 1
    sudah ada
    [33/679] 646.  >> 34 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '34'  and season = '2022'
    total_rows2: 1
    sudah ada
    [34/679] 645.  >> 38 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '38'  and season = '2023'
    total_rows2: 1
    sudah ada
    [35/679] 644.  >> 39 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '39'  and season = '2021'
    total_rows2: 1
    sudah ada
    [36/679] 643.  >> 39 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '39'  and season = '2022'
    total_rows2: 1
    sudah ada
    [37/679] 642.  >> 39 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '39'  and season = '2023'
    total_rows2: 1
    sudah ada
    [38/679] 641.  >> 40 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '40'  and season = '2021'
    total_rows2: 1
    sudah ada
    [39/679] 640.  >> 40 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '40'  and season = '2022'
    total_rows2: 1
    sudah ada
    [40/679] 639.  >> 41 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '41'  and season = '2021'
    total_rows2: 1
    sudah ada
    [41/679] 638.  >> 41 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '41'  and season = '2022'
    total_rows2: 1
    sudah ada
    [42/679] 637.  >> 42 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '42'  and season = '2021'
    total_rows2: 1
    sudah ada
    [43/679] 636.  >> 42 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '42'  and season = '2022'
    total_rows2: 1
    sudah ada
    [44/679] 635.  >> 43 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '43'  and season = '2021'
    total_rows2: 1
    sudah ada
    [45/679] 634.  >> 43 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '43'  and season = '2022'

    total_rows2: 1
    sudah ada
    [46/679] 633.  >> 44 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '44'  and season = '2022'
    total_rows2: 1
    sudah ada
    [47/679] 632.  >> 45 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '45'  and season = '2021'
    total_rows2: 1
    sudah ada
    [48/679] 631.  >> 45 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '45'  and season = '2022'
    total_rows2: 1
    sudah ada
    [49/679] 630.  >> 46 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '46'  and season = '2022'
    total_rows2: 1
    sudah ada
    [50/679] 629.  >> 47 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '47'  and season = '2022'
    total_rows2: 1
    sudah ada
    [51/679] 628.  >> 48 - 2020
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '48'  and season = '2020'
    total_rows2: 1
    sudah ada
    [52/679] 627.  >> 48 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '48'  and season = '2021'
    total_rows2: 1
    sudah ada
    [53/679] 626.  >> 48 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '48'  and season = '2022'
    total_rows2: 1
    sudah ada
    [54/679] 625.  >> 50 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '50'  and season = '2022'
    total_rows2: 1
    sudah ada
    [55/679] 624.  >> 51 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '51'  and season = '2022'
    total_rows2: 1
    sudah ada
    [56/679] 623.  >> 58 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '58'  and season = '2022'
    total_rows2: 1
    sudah ada
    [57/679] 622.  >> 59 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '59'  and season = '2022'
    total_rows2: 1
    sudah ada
    [58/679] 621.  >> 60 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '60'  and season = '2022'
    total_rows2: 1
    sudah ada
    [59/679] 620.  >> 61 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '61'  and season = '2021'
    total_rows2: 1
    sudah ada
    [60/679] 619.  >> 61 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '61'  and season = '2022'
    total_rows2: 1
    sudah ada
    [61/679] 618.  >> 62 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '62'  and season = '2021'
    total_rows2: 1
    sudah ada
    [62/679] 617.  >> 62 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '62'  and season = '2022'
    total_rows2: 1
    sudah ada
    [63/679] 616.  >> 63 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '63'  and season = '2021'
    total_rows2: 1
    sudah ada
    [64/679] 615.  >> 63 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '63'  and season = '2022'
    total_rows2: 1
    sudah ada
    [65/679] 614.  >> 64 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '64'  and season = '2022'
    total_rows2: 1
    sudah ada
    [66/679] 613.  >> 66 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '66'  and season = '2021'
    total_rows2: 1
    sudah ada
    [67/679] 612.  >> 66 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '66'  and season = '2022'
    total_rows2: 1
    sudah ada
    [68/679] 611.  >> 67 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '67'  and season = '2021'
    total_rows2: 1
    sudah ada
    [69/679] 610.  >> 67 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '67'  and season = '2022'
    total_rows2: 1
    sudah ada
    [70/679] 609.  >> 68 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '68'  and season = '2021'
    total_rows2: 1
    sudah ada
    [71/679] 608.  >> 68 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '68'  and season = '2022'
    total_rows2: 1
    sudah ada
    [72/679] 607.  >> 69 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '69'  and season = '2021'
    total_rows2: 1
    sudah ada
    [73/679] 606.  >> 69 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '69'  and season = '2022'
    total_rows2: 1
    sudah ada
    [74/679] 605.  >> 71 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '71'  and season = '2022'
    total_rows2: 1
    sudah ada
    [75/679] 604.  >> 71 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '71'  and season = '2023'
    total_rows2: 1
    sudah ada
    [76/679] 603.  >> 72 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '72'  and season = '2022'
    total_rows2: 1
    sudah ada
    [77/679] 602.  >> 72 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '72'  and season = '2023'
    total_rows2: 1
    sudah ada
    [78/679] 601.  >> 73 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '73'  and season = '2021'
    total_rows2: 1
    sudah ada
    [79/679] 600.  >> 73 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '73'  and season = '2022'
    total_rows2: 1
    sudah ada
    [80/679] 599.  >> 73 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '73'  and season = '2023'
    total_rows2: 1
    sudah ada
    [81/679] 598.  >> 74 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '74'  and season = '2023'
    total_rows2: 1
    sudah ada
    [82/679] 597.  >> 75 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '75'  and season = '2023'
    total_rows2: 1
    sudah ada
    [83/679] 596.  >> 76 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '76'  and season = '2022'
    total_rows2: 1
    sudah ada
    [84/679] 595.  >> 76 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '76'  and season = '2023'
    total_rows2: 1
    sudah ada
    [85/679] 594.  >> 77 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '77'  and season = '2023'
    total_rows2: 1
    sudah ada
    [86/679] 593.  >> 78 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '78'  and season = '2021'
    total_rows2: 1
    sudah ada
    [87/679] 592.  >> 78 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '78'  and season = '2022'
    total_rows2: 1
    sudah ada
    [88/679] 591.  >> 79 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '79'  and season = '2021'
    total_rows2: 1
    sudah ada
    [89/679] 590.  >> 79 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '79'  and season = '2022'
    total_rows2: 1
    sudah ada
    [90/679] 589.  >> 79 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '79'  and season = '2023'

    total_rows2: 1
    sudah ada
    [91/679] 588.  >> 80 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '80'  and season = '2021'
    total_rows2: 1
    sudah ada
    [92/679] 587.  >> 80 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '80'  and season = '2022'
    total_rows2: 1
    sudah ada
    [93/679] 586.  >> 81 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '81'  and season = '2021'
    total_rows2: 1
    sudah ada
    [94/679] 585.  >> 81 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '81'  and season = '2022'
    total_rows2: 1
    sudah ada
    [95/679] 584.  >> 82 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '82'  and season = '2022'
    total_rows2: 1
    sudah ada
    [96/679] 583.  >> 83 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '83'  and season = '2021'
    total_rows2: 1
    sudah ada
    [97/679] 582.  >> 83 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '83'  and season = '2022'
    total_rows2: 1
    sudah ada
    [98/679] 581.  >> 83 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '83'  and season = '2023'
    total_rows2: 1
    sudah ada
    [99/679] 580.  >> 84 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '84'  and season = '2022'
    total_rows2: 1
    sudah ada
    [100/679] 579.  >> 84 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '84'  and season = '2023'
    total_rows2: 1
    sudah ada
    [101/679] 578.  >> 85 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '85'  and season = '2022'
    total_rows2: 1
    sudah ada
    [102/679] 577.  >> 85 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '85'  and season = '2023'
    total_rows2: 1
    sudah ada
    [103/679] 576.  >> 86 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '86'  and season = '2022'
    total_rows2: 1
    sudah ada
    [104/679] 575.  >> 87 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '87'  and season = '2022'
    total_rows2: 1
    sudah ada
    [105/679] 574.  >> 88 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '88'  and season = '2021'
    total_rows2: 1
    sudah ada
    [106/679] 573.  >> 88 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '88'  and season = '2022'
    total_rows2: 1
    sudah ada
    [107/679] 572.  >> 89 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '89'  and season = '2021'
    total_rows2: 1
    sudah ada
    [108/679] 571.  >> 89 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '89'  and season = '2022'
    total_rows2: 1
    sudah ada
    [109/679] 570.  >> 90 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '90'  and season = '2021'
    total_rows2: 1
    sudah ada
    [110/679] 569.  >> 90 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '90'  and season = '2022'
    total_rows2: 1
    sudah ada
    [111/679] 568.  >> 91 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '91'  and season = '2022'
    total_rows2: 1
    sudah ada
    [112/679] 567.  >> 94 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '94'  and season = '2021'
    total_rows2: 1
    sudah ada
    [113/679] 566.  >> 94 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '94'  and season = '2022'
    total_rows2: 1
    sudah ada
    [114/679] 565.  >> 95 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '95'  and season = '2021'
    total_rows2: 1
    sudah ada
    [115/679] 564.  >> 95 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '95'  and season = '2022'
    total_rows2: 1
    sudah ada
    [116/679] 563.  >> 96 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '96'  and season = '2022'
    total_rows2: 1
    sudah ada
    [117/679] 562.  >> 97 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '97'  and season = '2022'
    total_rows2: 1
    sudah ada
    [118/679] 561.  >> 97 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '97'  and season = '2023'
    total_rows2: 1
    sudah ada
    [119/679] 560.  >> 98 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '98'  and season = '2022'
    total_rows2: 1
    sudah ada
    [120/679] 559.  >> 98 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '98'  and season = '2023'
    total_rows2: 1
    sudah ada
    [121/679] 558.  >> 99 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '99'  and season = '2022'
    total_rows2: 1
    sudah ada
    [122/679] 557.  >> 99 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '99'  and season = '2023'
    total_rows2: 1
    sudah ada
    [123/679] 556.  >> 100 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '100'  and season = '2022'
    total_rows2: 1
    sudah ada
    [124/679] 555.  >> 100 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '100'  and season = '2023'
    total_rows2: 1
    sudah ada
    [125/679] 554.  >> 101 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '101'  and season = '2023'
    total_rows2: 1
    sudah ada
    [126/679] 553.  >> 102 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '102'  and season = '2022'
    total_rows2: 1
    sudah ada
    [127/679] 552.  >> 102 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '102'  and season = '2023'
    total_rows2: 1
    sudah ada
    [128/679] 551.  >> 103 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '103'  and season = '2022'
    total_rows2: 1
    sudah ada
    [129/679] 550.  >> 103 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '103'  and season = '2023'
    total_rows2: 1
    sudah ada
    [130/679] 549.  >> 104 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '104'  and season = '2022'
    total_rows2: 1
    sudah ada
    [131/679] 548.  >> 104 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '104'  and season = '2023'
    total_rows2: 1
    sudah ada
    [132/679] 547.  >> 105 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '105'  and season = '2022'
    total_rows2: 1
    sudah ada
    [133/679] 546.  >> 105 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '105'  and season = '2023'
    total_rows2: 1
    sudah ada
    [134/679] 545.  >> 106 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '106'  and season = '2021'
    total_rows2: 1
    sudah ada
    [135/679] 544.  >> 106 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '106'  and season = '2022'

    total_rows2: 1
    sudah ada
    [136/679] 543.  >> 106 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '106'  and season = '2023'
    total_rows2: 1
    sudah ada
    [137/679] 542.  >> 107 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '107'  and season = '2021'
    total_rows2: 1
    sudah ada
    [138/679] 541.  >> 107 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '107'  and season = '2022'
    total_rows2: 1
    sudah ada
    [139/679] 540.  >> 107 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '107'  and season = '2023'
    total_rows2: 1
    sudah ada
    [140/679] 539.  >> 108 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '108'  and season = '2022'
    total_rows2: 1
    sudah ada
    [141/679] 538.  >> 109 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '109'  and season = '2022'
    total_rows2: 1
    sudah ada
    [142/679] 537.  >> 109 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '109'  and season = '2023'
    total_rows2: 1
    sudah ada
    [143/679] 536.  >> 110 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '110'  and season = '2022'
    total_rows2: 1
    sudah ada
    [144/679] 535.  >> 111 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '111'  and season = '2022'
    total_rows2: 1
    sudah ada
    [145/679] 534.  >> 111 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '111'  and season = '2023'
    total_rows2: 1
    sudah ada
    [146/679] 533.  >> 113 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '113'  and season = '2022'
    total_rows2: 1
    sudah ada
    [147/679] 532.  >> 113 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '113'  and season = '2023'
    total_rows2: 1
    sudah ada
    [148/679] 531.  >> 114 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '114'  and season = '2022'
    total_rows2: 1
    sudah ada
    [149/679] 530.  >> 114 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '114'  and season = '2023'
    total_rows2: 1
    sudah ada
    [150/679] 529.  >> 115 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '115'  and season = '2022'
    total_rows2: 1
    sudah ada
    [151/679] 528.  >> 115 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '115'  and season = '2023'
    total_rows2: 1
    sudah ada
    [152/679] 527.  >> 116 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '116'  and season = '2021'
    total_rows2: 1
    sudah ada
    [153/679] 526.  >> 116 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '116'  and season = '2022'
    total_rows2: 1
    sudah ada
    [154/679] 525.  >> 116 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '116'  and season = '2023'
    total_rows2: 1
    sudah ada
    [155/679] 524.  >> 119 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '119'  and season = '2021'
    total_rows2: 1
    sudah ada
    [156/679] 523.  >> 119 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '119'  and season = '2022'
    total_rows2: 1
    sudah ada
    [157/679] 522.  >> 119 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '119'  and season = '2023'
    total_rows2: 1
    sudah ada
    [158/679] 521.  >> 120 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '120'  and season = '2021'
    total_rows2: 1
    sudah ada
    [159/679] 520.  >> 120 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '120'  and season = '2022'
    total_rows2: 1
    sudah ada
    [160/679] 519.  >> 120 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '120'  and season = '2023'
    total_rows2: 1
    sudah ada
    [161/679] 518.  >> 121 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '121'  and season = '2021'
    total_rows2: 1
    sudah ada
    [162/679] 517.  >> 121 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '121'  and season = '2022'
    total_rows2: 1
    sudah ada
    [163/679] 516.  >> 122 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '122'  and season = '2022'
    total_rows2: 1
    sudah ada
    [164/679] 515.  >> 128 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '128'  and season = '2021'
    total_rows2: 1
    sudah ada
    [165/679] 514.  >> 128 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '128'  and season = '2022'
    total_rows2: 1
    sudah ada
    [166/679] 513.  >> 128 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '128'  and season = '2023'
    total_rows2: 1
    sudah ada
    [167/679] 512.  >> 129 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '129'  and season = '2022'
    total_rows2: 1
    sudah ada
    [168/679] 511.  >> 129 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '129'  and season = '2023'
    total_rows2: 1
    sudah ada
    [169/679] 510.  >> 130 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '130'  and season = '2022'
    total_rows2: 1
    sudah ada
    [170/679] 509.  >> 130 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '130'  and season = '2023'
    total_rows2: 1
    sudah ada
    [171/679] 508.  >> 131 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '131'  and season = '2022'
    total_rows2: 1
    sudah ada
    [172/679] 507.  >> 131 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '131'  and season = '2023'
    total_rows2: 1
    sudah ada
    [173/679] 506.  >> 132 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '132'  and season = '2022'
    total_rows2: 1
    sudah ada
    [174/679] 505.  >> 132 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '132'  and season = '2023'
    total_rows2: 1
    sudah ada
    [175/679] 504.  >> 133 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '133'  and season = '2022'
    total_rows2: 1
    sudah ada
    [176/679] 503.  >> 133 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '133'  and season = '2023'
    total_rows2: 1
    sudah ada
    [177/679] 502.  >> 134 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '134'  and season = '2022'
    total_rows2: 1
    sudah ada
    [178/679] 501.  >> 134 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '134'  and season = '2023'
    total_rows2: 1
    sudah ada
    [179/679] 500.  >> 135 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '135'  and season = '2021'
    total_rows2: 1

    sudah ada
    [180/679] 499.  >> 135 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '135'  and season = '2022'
    total_rows2: 1
    sudah ada
    [181/679] 498.  >> 136 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '136'  and season = '2021'
    total_rows2: 1
    sudah ada
    [182/679] 497.  >> 136 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '136'  and season = '2022'
    total_rows2: 1
    sudah ada
    [183/679] 496.  >> 137 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '137'  and season = '2021'
    total_rows2: 1
    sudah ada
    [184/679] 495.  >> 137 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '137'  and season = '2022'
    total_rows2: 1
    sudah ada
    [185/679] 494.  >> 138 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '138'  and season = '2021'
    total_rows2: 1
    sudah ada
    [186/679] 493.  >> 138 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '138'  and season = '2022'
    total_rows2: 1
    sudah ada
    [187/679] 492.  >> 139 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '139'  and season = '2022'
    total_rows2: 1
    sudah ada
    [188/679] 491.  >> 140 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '140'  and season = '2021'
    total_rows2: 1
    sudah ada
    [189/679] 490.  >> 140 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '140'  and season = '2022'
    total_rows2: 1
    sudah ada
    [190/679] 489.  >> 141 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '141'  and season = '2021'
    total_rows2: 1
    sudah ada
    [191/679] 488.  >> 141 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '141'  and season = '2022'
    total_rows2: 1
    sudah ada
    [192/679] 487.  >> 143 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '143'  and season = '2021'
    total_rows2: 1
    sudah ada
    [193/679] 486.  >> 143 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '143'  and season = '2022'
    total_rows2: 1
    sudah ada
    [194/679] 485.  >> 144 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '144'  and season = '2021'
    total_rows2: 1
    sudah ada
    [195/679] 484.  >> 144 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '144'  and season = '2022'
    total_rows2: 1
    sudah ada
    [196/679] 483.  >> 144 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '144'  and season = '2023'
    total_rows2: 1
    sudah ada
    [197/679] 482.  >> 145 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '145'  and season = '2021'
    total_rows2: 1
    sudah ada
    [198/679] 481.  >> 145 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '145'  and season = '2022'
    total_rows2: 1
    sudah ada
    [199/679] 480.  >> 146 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '146'  and season = '2022'
    total_rows2: 1
    sudah ada
    [200/679] 479.  >> 147 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '147'  and season = '2022'
    total_rows2: 1
    sudah ada
    [201/679] 478.  >> 162 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '162'  and season = '2021'
    total_rows2: 1
    sudah ada
    [202/679] 477.  >> 162 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '162'  and season = '2022'
    total_rows2: 1
    sudah ada
    [203/679] 476.  >> 162 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '162'  and season = '2023'
    total_rows2: 1
    sudah ada
    [204/679] 475.  >> 164 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '164'  and season = '2022'
    total_rows2: 1
    sudah ada
    [205/679] 474.  >> 164 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '164'  and season = '2023'
    total_rows2: 1
    sudah ada
    [206/679] 473.  >> 165 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '165'  and season = '2022'
    total_rows2: 1
    sudah ada
    [207/679] 472.  >> 165 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '165'  and season = '2023'
    total_rows2: 1
    sudah ada
    [208/679] 471.  >> 166 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '166'  and season = '2022'
    total_rows2: 1
    sudah ada
    [209/679] 470.  >> 166 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '166'  and season = '2023'
    total_rows2: 1
    sudah ada
    [210/679] 469.  >> 167 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '167'  and season = '2022'
    total_rows2: 1
    sudah ada
    [211/679] 468.  >> 167 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '167'  and season = '2023'
    total_rows2: 1
    sudah ada
    [212/679] 467.  >> 168 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '168'  and season = '2023'
    total_rows2: 1
    sudah ada
    [213/679] 466.  >> 169 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '169'  and season = '2022'
    total_rows2: 1
    sudah ada
    [214/679] 465.  >> 169 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '169'  and season = '2023'
    total_rows2: 1
    sudah ada
    [215/679] 464.  >> 170 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '170'  and season = '2022'
    total_rows2: 1
    sudah ada
    [216/679] 463.  >> 170 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '170'  and season = '2023'
    total_rows2: 1
    sudah ada
    [217/679] 462.  >> 171 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '171'  and season = '2022'
    total_rows2: 1
    sudah ada
    [218/679] 461.  >> 171 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '171'  and season = '2023'
    total_rows2: 1
    sudah ada
    [219/679] 460.  >> 172 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '172'  and season = '2021'
    total_rows2: 1
    sudah ada
    [220/679] 459.  >> 172 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '172'  and season = '2022'
    total_rows2: 1
    sudah ada
    [221/679] 458.  >> 172 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '172'  and season = '2023'
    total_rows2: 1
    sudah ada
    [222/679] 457.  >> 173 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '173'  and season = '2022'
    total_rows2: 1
    sudah ada
    [223/679] 456.  >> 173 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '173'  and season = '2023'
    total_rows2: 1
    sudah ada

    [224/679] 455.  >> 174 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '174'  and season = '2022'
    total_rows2: 1
    sudah ada
    [225/679] 454.  >> 179 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '179'  and season = '2021'
    total_rows2: 1
    sudah ada
    [226/679] 453.  >> 179 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '179'  and season = '2022'
    total_rows2: 1
    sudah ada
    [227/679] 452.  >> 180 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '180'  and season = '2021'
    total_rows2: 1
    sudah ada
    [228/679] 451.  >> 180 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '180'  and season = '2022'
    total_rows2: 1
    sudah ada
    [229/679] 450.  >> 181 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '181'  and season = '2022'
    total_rows2: 1
    sudah ada
    [230/679] 449.  >> 182 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '182'  and season = '2022'
    total_rows2: 1
    sudah ada
    [231/679] 448.  >> 183 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '183'  and season = '2021'
    total_rows2: 1
    sudah ada
    [232/679] 447.  >> 183 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '183'  and season = '2022'
    total_rows2: 1
    sudah ada
    [233/679] 446.  >> 184 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '184'  and season = '2021'
    total_rows2: 1
    sudah ada
    [234/679] 445.  >> 184 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '184'  and season = '2022'
    total_rows2: 1
    sudah ada
    [235/679] 444.  >> 185 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '185'  and season = '2022'
    total_rows2: 1
    sudah ada
    [236/679] 443.  >> 185 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '185'  and season = '2023'
    total_rows2: 1
    sudah ada
    [237/679] 442.  >> 188 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '188'  and season = '2021'
    total_rows2: 1
    sudah ada
    [238/679] 441.  >> 188 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '188'  and season = '2022'
    total_rows2: 1
    sudah ada
    [239/679] 440.  >> 189 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '189'  and season = '2022'
    total_rows2: 1
    sudah ada
    [240/679] 439.  >> 189 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '189'  and season = '2023'
    total_rows2: 1
    sudah ada
    [241/679] 438.  >> 190 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '190'  and season = '2022'
    total_rows2: 1
    sudah ada
    [242/679] 437.  >> 192 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '192'  and season = '2022'
    total_rows2: 1
    sudah ada
    [243/679] 436.  >> 192 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '192'  and season = '2023'
    total_rows2: 1
    sudah ada
    [244/679] 435.  >> 194 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '194'  and season = '2022'
    total_rows2: 1
    sudah ada
    [245/679] 434.  >> 194 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '194'  and season = '2023'
    total_rows2: 1
    sudah ada
    [246/679] 433.  >> 195 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '195'  and season = '2022'
    total_rows2: 1
    sudah ada
    [247/679] 432.  >> 195 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '195'  and season = '2023'
    total_rows2: 1
    sudah ada
    [248/679] 431.  >> 196 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '196'  and season = '2022'
    total_rows2: 1
    sudah ada
    [249/679] 430.  >> 196 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '196'  and season = '2023'
    total_rows2: 1
    sudah ada
    [250/679] 429.  >> 197 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '197'  and season = '2021'
    total_rows2: 1
    sudah ada
    [251/679] 428.  >> 197 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '197'  and season = '2022'
    total_rows2: 1
    sudah ada
    [252/679] 427.  >> 199 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '199'  and season = '2022'
    total_rows2: 1
    sudah ada
    [253/679] 426.  >> 200 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '200'  and season = '2022'
    total_rows2: 1
    sudah ada
    [254/679] 425.  >> 202 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '202'  and season = '2022'
    total_rows2: 1
    sudah ada
    [255/679] 424.  >> 203 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '203'  and season = '2021'
    total_rows2: 1
    sudah ada
    [256/679] 423.  >> 203 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '203'  and season = '2022'
    total_rows2: 1
    sudah ada
    [257/679] 422.  >> 204 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '204'  and season = '2021'
    total_rows2: 1
    sudah ada
    [258/679] 421.  >> 204 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '204'  and season = '2022'
    total_rows2: 1
    sudah ada
    [259/679] 420.  >> 205 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '205'  and season = '2022'
    total_rows2: 1
    sudah ada
    [260/679] 419.  >> 206 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '206'  and season = '2021'
    total_rows2: 1
    sudah ada
    [261/679] 418.  >> 206 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '206'  and season = '2022'
    total_rows2: 1
    sudah ada
    [262/679] 417.  >> 207 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '207'  and season = '2021'
    total_rows2: 1
    sudah ada
    [263/679] 416.  >> 207 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '207'  and season = '2022'
    total_rows2: 1
    sudah ada
    [264/679] 415.  >> 207 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '207'  and season = '2023'
    total_rows2: 1
    sudah ada
    [265/679] 414.  >> 208 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '208'  and season = '2021'
    total_rows2: 1
    sudah ada
    [266/679] 413.  >> 208 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '208'  and season = '2022'
    total_rows2: 1
    sudah ada
    [267/679] 412.  >> 208 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '208'  and season = '2023'
    total_rows2: 1
    sudah ada
    [268/679] 411.  >> 209 - 2021

    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '209'  and season = '2021'
    total_rows2: 1
    sudah ada
    [269/679] 410.  >> 209 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '209'  and season = '2022'
    total_rows2: 1
    sudah ada
    [270/679] 409.  >> 210 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '210'  and season = '2021'
    total_rows2: 1
    sudah ada
    [271/679] 408.  >> 210 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '210'  and season = '2022'
    total_rows2: 1
    sudah ada
    [272/679] 407.  >> 210 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '210'  and season = '2023'
    total_rows2: 1
    sudah ada
    [273/679] 406.  >> 211 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '211'  and season = '2022'
    total_rows2: 1
    sudah ada
    [274/679] 405.  >> 212 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '212'  and season = '2022'
    total_rows2: 1
    sudah ada
    [275/679] 404.  >> 218 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '218'  and season = '2021'
    total_rows2: 1
    sudah ada
    [276/679] 403.  >> 218 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '218'  and season = '2022'
    total_rows2: 1
    sudah ada
    [277/679] 402.  >> 218 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '218'  and season = '2023'
    total_rows2: 1
    sudah ada
    [278/679] 401.  >> 219 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '219'  and season = '2021'
    total_rows2: 1
    sudah ada
    [279/679] 400.  >> 219 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '219'  and season = '2022'
    total_rows2: 1
    sudah ada
    [280/679] 399.  >> 219 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '219'  and season = '2023'
    total_rows2: 1
    sudah ada
    [281/679] 398.  >> 220 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '220'  and season = '2022'
    total_rows2: 1
    sudah ada
    [282/679] 397.  >> 220 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '220'  and season = '2023'
    total_rows2: 1
    sudah ada
    [283/679] 396.  >> 221 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '221'  and season = '2022'
    total_rows2: 1
    sudah ada
    [284/679] 395.  >> 221 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '221'  and season = '2023'
    total_rows2: 1
    sudah ada
    [285/679] 394.  >> 222 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '222'  and season = '2022'
    total_rows2: 1
    sudah ada
    [286/679] 393.  >> 222 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '222'  and season = '2023'
    total_rows2: 1
    sudah ada
    [287/679] 392.  >> 223 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '223'  and season = '2022'
    total_rows2: 1
    sudah ada
    [288/679] 391.  >> 223 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '223'  and season = '2023'
    total_rows2: 1
    sudah ada
    [289/679] 390.  >> 233 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '233'  and season = '2021'
    total_rows2: 1
    sudah ada
    [290/679] 389.  >> 233 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '233'  and season = '2022'
    total_rows2: 1
    sudah ada
    [291/679] 388.  >> 234 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '234'  and season = '2022'
    total_rows2: 1
    sudah ada
    [292/679] 387.  >> 235 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '235'  and season = '2021'
    total_rows2: 1
    sudah ada
    [293/679] 386.  >> 235 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '235'  and season = '2022'
    total_rows2: 1
    sudah ada
    [294/679] 385.  >> 235 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '235'  and season = '2023'
    total_rows2: 1
    sudah ada
    [295/679] 384.  >> 236 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '236'  and season = '2022'
    total_rows2: 1
    sudah ada
    [296/679] 383.  >> 236 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '236'  and season = '2023'
    total_rows2: 1
    sudah ada
    [297/679] 382.  >> 237 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '237'  and season = '2021'
    total_rows2: 1
    sudah ada
    [298/679] 381.  >> 237 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '237'  and season = '2022'
    total_rows2: 1
    sudah ada
    [299/679] 380.  >> 237 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '237'  and season = '2023'
    total_rows2: 1
    sudah ada
    [300/679] 379.  >> 239 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '239'  and season = '2022'
    total_rows2: 1
    sudah ada
    [301/679] 378.  >> 239 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '239'  and season = '2023'
    total_rows2: 1
    sudah ada
    [302/679] 377.  >> 240 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '240'  and season = '2022'
    total_rows2: 1
    sudah ada
    [303/679] 376.  >> 240 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '240'  and season = '2023'
    total_rows2: 1
    sudah ada
    [304/679] 375.  >> 241 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '241'  and season = '2023'
    total_rows2: 1
    sudah ada
    [305/679] 374.  >> 242 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '242'  and season = '2023'
    total_rows2: 1
    sudah ada
    [306/679] 373.  >> 243 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '243'  and season = '2023'
    total_rows2: 1
    sudah ada
    [307/679] 372.  >> 244 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '244'  and season = '2022'
    total_rows2: 1
    sudah ada
    [308/679] 371.  >> 244 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '244'  and season = '2023'
    total_rows2: 1
    sudah ada
    [309/679] 370.  >> 245 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '245'  and season = '2022'
    total_rows2: 1
    sudah ada
    [310/679] 369.  >> 245 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '245'  and season = '2023'
    total_rows2: 1
    sudah ada
    [311/679] 368.  >> 246 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '246'  and season = '2022'
    total_rows2: 1
    sudah ada
    [312/679] 367.  >> 246 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '246'  and season = '2023'

    total_rows2: 1
    sudah ada
    [313/679] 366.  >> 247 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '247'  and season = '2022'
    total_rows2: 1
    sudah ada
    [314/679] 365.  >> 247 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '247'  and season = '2023'
    total_rows2: 1
    sudah ada
    [315/679] 364.  >> 248 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '248'  and season = '2022'
    total_rows2: 1
    sudah ada
    [316/679] 363.  >> 248 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '248'  and season = '2023'
    total_rows2: 1
    sudah ada
    [317/679] 362.  >> 249 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '249'  and season = '2022'
    total_rows2: 1
    sudah ada
    [318/679] 361.  >> 249 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '249'  and season = '2023'
    total_rows2: 1
    sudah ada
    [319/679] 360.  >> 250 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '250'  and season = '2022'
    total_rows2: 1
    sudah ada
    [320/679] 359.  >> 250 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '250'  and season = '2023'
    total_rows2: 1
    sudah ada
    [321/679] 358.  >> 252 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '252'  and season = '2022'
    total_rows2: 1
    sudah ada
    [322/679] 357.  >> 252 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '252'  and season = '2023'
    total_rows2: 1
    sudah ada
    [323/679] 356.  >> 253 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '253'  and season = '2022'
    total_rows2: 1
    sudah ada
    [324/679] 355.  >> 253 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '253'  and season = '2023'
    total_rows2: 1
    sudah ada
    [325/679] 354.  >> 254 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '254'  and season = '2022'
    total_rows2: 1
    sudah ada
    [326/679] 353.  >> 254 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '254'  and season = '2023'
    total_rows2: 1
    sudah ada
    [327/679] 352.  >> 255 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '255'  and season = '2022'
    total_rows2: 1
    sudah ada
    [328/679] 351.  >> 255 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '255'  and season = '2023'
    total_rows2: 1
    sudah ada
    [329/679] 350.  >> 256 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '256'  and season = '2022'
    total_rows2: 1
    sudah ada
    [330/679] 349.  >> 256 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '256'  and season = '2023'
    total_rows2: 1
    sudah ada
    [331/679] 348.  >> 257 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '257'  and season = '2022'
    total_rows2: 1
    sudah ada
    [332/679] 347.  >> 257 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '257'  and season = '2023'
    total_rows2: 1
    sudah ada
    [333/679] 346.  >> 262 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '262'  and season = '2021'
    total_rows2: 1
    sudah ada
    [334/679] 345.  >> 262 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '262'  and season = '2022'
    total_rows2: 1
    sudah ada
    [335/679] 344.  >> 262 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '262'  and season = '2023'
    total_rows2: 1
    sudah ada
    [336/679] 343.  >> 263 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '263'  and season = '2022'
    total_rows2: 1
    sudah ada
    [337/679] 342.  >> 263 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '263'  and season = '2023'
    total_rows2: 1
    sudah ada
    [338/679] 341.  >> 265 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '265'  and season = '2022'
    total_rows2: 1
    sudah ada
    [339/679] 340.  >> 265 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '265'  and season = '2023'
    total_rows2: 1
    sudah ada
    [340/679] 339.  >> 266 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '266'  and season = '2022'
    total_rows2: 1
    sudah ada
    [341/679] 338.  >> 266 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '266'  and season = '2023'
    total_rows2: 1
    sudah ada
    [342/679] 337.  >> 267 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '267'  and season = '2022'
    total_rows2: 1
    sudah ada
    [343/679] 336.  >> 267 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '267'  and season = '2023'
    total_rows2: 1
    sudah ada
    [344/679] 335.  >> 268 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '268'  and season = '2022'
    total_rows2: 1
    sudah ada
    [345/679] 334.  >> 268 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '268'  and season = '2023'
    total_rows2: 1
    sudah ada
    [346/679] 333.  >> 269 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '269'  and season = '2022'
    total_rows2: 1
    sudah ada
    [347/679] 332.  >> 269 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '269'  and season = '2023'
    total_rows2: 1
    sudah ada
    [348/679] 331.  >> 270 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '270'  and season = '2022'
    total_rows2: 1
    sudah ada
    [349/679] 330.  >> 271 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '271'  and season = '2021'
    total_rows2: 1
    sudah ada
    [350/679] 329.  >> 271 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '271'  and season = '2022'
    total_rows2: 1
    sudah ada
    [351/679] 328.  >> 271 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '271'  and season = '2023'
    total_rows2: 1
    sudah ada
    [352/679] 327.  >> 272 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '272'  and season = '2022'
    total_rows2: 1
    sudah ada
    [353/679] 326.  >> 272 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '272'  and season = '2023'
    total_rows2: 1
    sudah ada
    [354/679] 325.  >> 273 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '273'  and season = '2022'
    total_rows2: 1
    sudah ada
    [355/679] 324.  >> 274 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '274'  and season = '2021'
    total_rows2: 1
    sudah ada
    [356/679] 323.  >> 274 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '274'  and season = '2022'
    total_rows2: 1

    sudah ada
    [357/679] 322.  >> 274 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '274'  and season = '2023'
    total_rows2: 1
    sudah ada
    [358/679] 321.  >> 278 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '278'  and season = '2022'
    total_rows2: 1
    sudah ada
    [359/679] 320.  >> 278 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '278'  and season = '2023'
    total_rows2: 1
    sudah ada
    [360/679] 319.  >> 279 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '279'  and season = '2022'
    total_rows2: 1
    sudah ada
    [361/679] 318.  >> 281 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '281'  and season = '2022'
    total_rows2: 1
    sudah ada
    [362/679] 317.  >> 281 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '281'  and season = '2023'
    total_rows2: 1
    sudah ada
    [363/679] 316.  >> 282 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '282'  and season = '2023'
    total_rows2: 1
    sudah ada
    [364/679] 315.  >> 283 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '283'  and season = '2021'
    total_rows2: 1
    sudah ada
    [365/679] 314.  >> 283 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '283'  and season = '2022'
    total_rows2: 1
    sudah ada
    [366/679] 313.  >> 283 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '283'  and season = '2023'
    total_rows2: 1
    sudah ada
    [367/679] 312.  >> 284 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '284'  and season = '2021'
    total_rows2: 1
    sudah ada
    [368/679] 311.  >> 284 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '284'  and season = '2022'
    total_rows2: 1
    sudah ada
    [369/679] 310.  >> 285 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '285'  and season = '2022'
    total_rows2: 1
    sudah ada
    [370/679] 309.  >> 286 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '286'  and season = '2022'
    total_rows2: 1
    sudah ada
    [371/679] 308.  >> 287 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '287'  and season = '2022'
    total_rows2: 1
    sudah ada
    [372/679] 307.  >> 288 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '288'  and season = '2022'
    total_rows2: 1
    sudah ada
    [373/679] 306.  >> 290 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '290'  and season = '2022'
    total_rows2: 1
    sudah ada
    [374/679] 305.  >> 291 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '291'  and season = '2022'
    total_rows2: 1
    sudah ada
    [375/679] 304.  >> 292 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '292'  and season = '2022'
    total_rows2: 1
    sudah ada
    [376/679] 303.  >> 292 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '292'  and season = '2023'
    total_rows2: 1
    sudah ada
    [377/679] 302.  >> 293 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '293'  and season = '2022'
    total_rows2: 1
    sudah ada
    [378/679] 301.  >> 293 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '293'  and season = '2023'
    total_rows2: 1
    sudah ada
    [379/679] 300.  >> 294 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '294'  and season = '2022'
    total_rows2: 1
    sudah ada
    [380/679] 299.  >> 294 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '294'  and season = '2023'
    total_rows2: 1
    sudah ada
    [381/679] 298.  >> 295 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '295'  and season = '2022'
    total_rows2: 1
    sudah ada
    [382/679] 297.  >> 295 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '295'  and season = '2023'
    total_rows2: 1
    sudah ada
    [383/679] 296.  >> 296 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '296'  and season = '2022'
    total_rows2: 1
    sudah ada
    [384/679] 295.  >> 297 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '297'  and season = '2022'
    total_rows2: 1
    sudah ada
    [385/679] 294.  >> 299 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '299'  and season = '2022'
    total_rows2: 1
    sudah ada
    [386/679] 293.  >> 299 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '299'  and season = '2023'
    total_rows2: 1
    sudah ada
    [387/679] 292.  >> 301 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '301'  and season = '2022'
    total_rows2: 1
    sudah ada
    [388/679] 291.  >> 303 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '303'  and season = '2022'
    total_rows2: 1
    sudah ada
    [389/679] 290.  >> 304 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '304'  and season = '2023'
    total_rows2: 1
    sudah ada
    [390/679] 289.  >> 305 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '305'  and season = '2021'
    total_rows2: 1
    sudah ada
    [391/679] 288.  >> 305 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '305'  and season = '2022'
    total_rows2: 1
    sudah ada
    [392/679] 287.  >> 306 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '306'  and season = '2022'
    total_rows2: 1
    sudah ada
    [393/679] 286.  >> 307 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '307'  and season = '2022'
    total_rows2: 1
    sudah ada
    [394/679] 285.  >> 308 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '308'  and season = '2022'
    total_rows2: 1
    sudah ada
    [395/679] 284.  >> 318 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '318'  and season = '2022'
    total_rows2: 1
    sudah ada
    [396/679] 283.  >> 322 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '322'  and season = '2021'
    total_rows2: 1
    sudah ada
    [397/679] 282.  >> 322 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '322'  and season = '2022'
    total_rows2: 1
    sudah ada
    [398/679] 281.  >> 323 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '323'  and season = '2022'
    total_rows2: 1
    sudah ada
    [399/679] 280.  >> 324 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '324'  and season = '2022'
    total_rows2: 1
    sudah ada
    [400/679] 279.  >> 326 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '326'  and season = '2022'
    total_rows2: 1
    sudah ada

    [401/679] 278.  >> 326 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '326'  and season = '2023'
    total_rows2: 1
    sudah ada
    [402/679] 277.  >> 327 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '327'  and season = '2022'
    total_rows2: 1
    sudah ada
    [403/679] 276.  >> 327 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '327'  and season = '2023'
    total_rows2: 1
    sudah ada
    [404/679] 275.  >> 328 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '328'  and season = '2022'
    total_rows2: 1
    sudah ada
    [405/679] 274.  >> 328 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '328'  and season = '2023'
    total_rows2: 1
    sudah ada
    [406/679] 273.  >> 329 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '329'  and season = '2022'
    total_rows2: 1
    sudah ada
    [407/679] 272.  >> 329 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '329'  and season = '2023'
    total_rows2: 1
    sudah ada
    [408/679] 271.  >> 330 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '330'  and season = '2022'
    total_rows2: 1
    sudah ada
    [409/679] 270.  >> 332 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '332'  and season = '2021'
    total_rows2: 1
    sudah ada
    [410/679] 269.  >> 332 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '332'  and season = '2022'
    total_rows2: 1
    sudah ada
    [411/679] 268.  >> 332 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '332'  and season = '2023'
    total_rows2: 1
    sudah ada
    [412/679] 267.  >> 333 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '333'  and season = '2022'
    total_rows2: 1
    sudah ada
    [413/679] 266.  >> 333 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '333'  and season = '2023'
    total_rows2: 1
    sudah ada
    [414/679] 265.  >> 334 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '334'  and season = '2022'
    total_rows2: 1
    sudah ada
    [415/679] 264.  >> 334 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '334'  and season = '2023'
    total_rows2: 1
    sudah ada
    [416/679] 263.  >> 339 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '339'  and season = '2022'
    total_rows2: 1
    sudah ada
    [417/679] 262.  >> 340 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '340'  and season = '2023'
    total_rows2: 1
    sudah ada
    [418/679] 261.  >> 344 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '344'  and season = '2022'
    total_rows2: 1
    sudah ada
    [419/679] 260.  >> 344 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '344'  and season = '2023'
    total_rows2: 1
    sudah ada
    [420/679] 259.  >> 345 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '345'  and season = '2021'
    total_rows2: 1
    sudah ada
    [421/679] 258.  >> 345 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '345'  and season = '2022'
    total_rows2: 1
    sudah ada
    [422/679] 257.  >> 345 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '345'  and season = '2023'
    total_rows2: 1
    sudah ada
    [423/679] 256.  >> 346 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '346'  and season = '2021'
    total_rows2: 1
    sudah ada
    [424/679] 255.  >> 346 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '346'  and season = '2022'
    total_rows2: 1
    sudah ada
    [425/679] 254.  >> 346 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '346'  and season = '2023'
    total_rows2: 1
    sudah ada
    [426/679] 253.  >> 347 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '347'  and season = '2021'
    total_rows2: 1
    sudah ada
    [427/679] 252.  >> 347 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '347'  and season = '2022'
    total_rows2: 1
    sudah ada
    [428/679] 251.  >> 347 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '347'  and season = '2023'
    total_rows2: 1
    sudah ada
    [429/679] 250.  >> 348 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '348'  and season = '2022'
    total_rows2: 1
    sudah ada
    [430/679] 249.  >> 349 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '349'  and season = '2022'
    total_rows2: 1
    sudah ada
    [431/679] 248.  >> 357 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '357'  and season = '2021'
    total_rows2: 1
    sudah ada
    [432/679] 247.  >> 357 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '357'  and season = '2022'
    total_rows2: 1
    sudah ada
    [433/679] 246.  >> 357 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '357'  and season = '2023'
    total_rows2: 1
    sudah ada
    [434/679] 245.  >> 358 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '358'  and season = '2021'
    total_rows2: 1
    sudah ada
    [435/679] 244.  >> 358 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '358'  and season = '2022'
    total_rows2: 1
    sudah ada
    [436/679] 243.  >> 358 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '358'  and season = '2023'
    total_rows2: 1
    sudah ada
    [437/679] 242.  >> 359 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '359'  and season = '2022'
    total_rows2: 1
    sudah ada
    [438/679] 241.  >> 359 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '359'  and season = '2023'
    total_rows2: 1
    sudah ada
    [439/679] 240.  >> 361 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '361'  and season = '2022'
    total_rows2: 1
    sudah ada
    [440/679] 239.  >> 361 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '361'  and season = '2023'
    total_rows2: 1
    sudah ada
    [441/679] 238.  >> 362 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '362'  and season = '2022'
    total_rows2: 1
    sudah ada
    [442/679] 237.  >> 362 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '362'  and season = '2023'
    total_rows2: 1
    sudah ada
    [443/679] 236.  >> 363 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '363'  and season = '2022'
    total_rows2: 1
    sudah ada
    [444/679] 235.  >> 365 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '365'  and season = '2022'
    total_rows2: 1
    sudah ada
    [445/679] 234.  >> 365 - 2023

    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '365'  and season = '2023'
    total_rows2: 1
    sudah ada
    [446/679] 233.  >> 368 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '368'  and season = '2022'
    total_rows2: 1
    sudah ada
    [447/679] 232.  >> 368 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '368'  and season = '2023'
    total_rows2: 1
    sudah ada
    [448/679] 231.  >> 369 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '369'  and season = '2022'
    total_rows2: 1
    sudah ada
    [449/679] 230.  >> 369 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '369'  and season = '2023'
    total_rows2: 1
    sudah ada
    [450/679] 229.  >> 373 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '373'  and season = '2021'
    total_rows2: 1
    sudah ada
    [451/679] 228.  >> 373 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '373'  and season = '2022'
    total_rows2: 1
    sudah ada
    [452/679] 227.  >> 373 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '373'  and season = '2023'
    total_rows2: 1
    sudah ada
    [453/679] 226.  >> 374 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '374'  and season = '2022'
    total_rows2: 1
    sudah ada
    [454/679] 225.  >> 374 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '374'  and season = '2023'
    total_rows2: 1
    sudah ada
    [455/679] 224.  >> 375 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '375'  and season = '2022'
    total_rows2: 1
    sudah ada
    [456/679] 223.  >> 382 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '382'  and season = '2021'
    total_rows2: 1
    sudah ada
    [457/679] 222.  >> 382 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '382'  and season = '2022'
    total_rows2: 1
    sudah ada
    [458/679] 221.  >> 383 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '383'  and season = '2022'
    total_rows2: 1
    sudah ada
    [459/679] 220.  >> 384 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '384'  and season = '2022'
    total_rows2: 1
    sudah ada
    [460/679] 219.  >> 385 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '385'  and season = '2023'
    total_rows2: 1
    sudah ada
    [461/679] 218.  >> 386 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '386'  and season = '2021'
    total_rows2: 1
    sudah ada
    [462/679] 217.  >> 386 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '386'  and season = '2022'
    total_rows2: 1
    sudah ada
    [463/679] 216.  >> 387 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '387'  and season = '2022'
    total_rows2: 1
    sudah ada
    [464/679] 215.  >> 398 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '398'  and season = '2022'
    total_rows2: 1
    sudah ada
    [465/679] 214.  >> 398 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '398'  and season = '2023'
    total_rows2: 1
    sudah ada
    [466/679] 213.  >> 406 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '406'  and season = '2022'
    total_rows2: 1
    sudah ada
    [467/679] 212.  >> 407 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '407'  and season = '2022'
    total_rows2: 1
    sudah ada
    [468/679] 211.  >> 408 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '408'  and season = '2021'
    total_rows2: 1
    sudah ada
    [469/679] 210.  >> 408 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '408'  and season = '2022'
    total_rows2: 1
    sudah ada
    [470/679] 209.  >> 417 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '417'  and season = '2022'
    total_rows2: 1
    sudah ada
    [471/679] 208.  >> 419 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '419'  and season = '2022'
    total_rows2: 1
    sudah ada
    [472/679] 207.  >> 426 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '426'  and season = '2022'
    total_rows2: 1
    sudah ada
    [473/679] 206.  >> 427 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '427'  and season = '2022'
    total_rows2: 1
    sudah ada
    [474/679] 205.  >> 428 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '428'  and season = '2022'
    total_rows2: 1
    sudah ada
    [475/679] 204.  >> 429 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '429'  and season = '2022'
    total_rows2: 1
    sudah ada
    [476/679] 203.  >> 430 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '430'  and season = '2022'
    total_rows2: 1
    sudah ada
    [477/679] 202.  >> 431 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '431'  and season = '2022'
    total_rows2: 1
    sudah ada
    [478/679] 201.  >> 432 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '432'  and season = '2022'
    total_rows2: 1
    sudah ada
    [479/679] 200.  >> 433 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '433'  and season = '2022'
    total_rows2: 1
    sudah ada
    [480/679] 199.  >> 434 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '434'  and season = '2022'
    total_rows2: 1
    sudah ada
    [481/679] 198.  >> 435 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '435'  and season = '2022'
    total_rows2: 1
    sudah ada
    [482/679] 197.  >> 436 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '436'  and season = '2022'
    total_rows2: 1
    sudah ada
    [483/679] 196.  >> 439 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '439'  and season = '2022'
    total_rows2: 1
    sudah ada
    [484/679] 195.  >> 440 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '440'  and season = '2022'
    total_rows2: 1
    sudah ada
    [485/679] 194.  >> 441 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '441'  and season = '2022'
    total_rows2: 1
    sudah ada
    [486/679] 193.  >> 442 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '442'  and season = '2022'
    total_rows2: 1
    sudah ada
    [487/679] 192.  >> 443 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '443'  and season = '2022'
    total_rows2: 1
    sudah ada
    [488/679] 191.  >> 444 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '444'  and season = '2022'
    total_rows2: 1
    sudah ada
    [489/679] 190.  >> 445 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '445'  and season = '2022'

    total_rows2: 1
    sudah ada
    [490/679] 189.  >> 446 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '446'  and season = '2022'
    total_rows2: 1
    sudah ada
    [491/679] 188.  >> 447 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '447'  and season = '2022'
    total_rows2: 1
    sudah ada
    [492/679] 187.  >> 448 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '448'  and season = '2022'
    total_rows2: 1
    sudah ada
    [493/679] 186.  >> 449 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '449'  and season = '2022'
    total_rows2: 1
    sudah ada
    [494/679] 185.  >> 450 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '450'  and season = '2022'
    total_rows2: 1
    sudah ada
    [495/679] 184.  >> 451 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '451'  and season = '2022'
    total_rows2: 1
    sudah ada
    [496/679] 183.  >> 452 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '452'  and season = '2022'
    total_rows2: 1
    sudah ada
    [497/679] 182.  >> 453 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '453'  and season = '2022'
    total_rows2: 1
    sudah ada
    [498/679] 181.  >> 454 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '454'  and season = '2022'
    total_rows2: 1
    sudah ada
    [499/679] 180.  >> 455 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '455'  and season = '2022'
    total_rows2: 1
    sudah ada
    [500/679] 179.  >> 456 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '456'  and season = '2022'
    total_rows2: 1
    sudah ada
    [501/679] 178.  >> 457 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '457'  and season = '2022'
    total_rows2: 1
    sudah ada
    [502/679] 177.  >> 458 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '458'  and season = '2022'
    total_rows2: 1
    sudah ada
    [503/679] 176.  >> 459 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '459'  and season = '2022'
    total_rows2: 1
    sudah ada
    [504/679] 175.  >> 460 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '460'  and season = '2022'
    total_rows2: 1
    sudah ada
    [505/679] 174.  >> 473 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '473'  and season = '2022'
    total_rows2: 1
    sudah ada
    [506/679] 173.  >> 473 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '473'  and season = '2023'
    total_rows2: 1
    sudah ada
    [507/679] 172.  >> 474 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '474'  and season = '2022'
    total_rows2: 1
    sudah ada
    [508/679] 171.  >> 474 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '474'  and season = '2023'
    total_rows2: 1
    sudah ada
    [509/679] 170.  >> 475 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '475'  and season = '2022'
    total_rows2: 1
    sudah ada
    [510/679] 169.  >> 475 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '475'  and season = '2023'
    total_rows2: 1
    sudah ada
    [511/679] 168.  >> 477 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '477'  and season = '2023'
    total_rows2: 1
    sudah ada
    [512/679] 167.  >> 479 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '479'  and season = '2022'
    total_rows2: 1
    sudah ada
    [513/679] 166.  >> 479 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '479'  and season = '2023'
    total_rows2: 1
    sudah ada
    [514/679] 165.  >> 481 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '481'  and season = '2022'
    total_rows2: 1
    sudah ada
    [515/679] 164.  >> 481 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '481'  and season = '2023'
    total_rows2: 1
    sudah ada
    [516/679] 163.  >> 482 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '482'  and season = '2022'
    total_rows2: 1
    sudah ada
    [517/679] 162.  >> 482 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '482'  and season = '2023'
    total_rows2: 1
    sudah ada
    [518/679] 161.  >> 484 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '484'  and season = '2022'
    total_rows2: 1
    sudah ada
    [519/679] 160.  >> 486 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '486'  and season = '2022'
    total_rows2: 1
    sudah ada
    [520/679] 159.  >> 487 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '487'  and season = '2022'
    total_rows2: 1
    sudah ada
    [521/679] 158.  >> 488 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '488'  and season = '2022'
    total_rows2: 1
    sudah ada
    [522/679] 157.  >> 489 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '489'  and season = '2022'
    total_rows2: 1
    sudah ada
    [523/679] 156.  >> 489 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '489'  and season = '2023'
    total_rows2: 1
    sudah ada
    [524/679] 155.  >> 490 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '490'  and season = '2023'
    total_rows2: 1
    sudah ada
    [525/679] 154.  >> 492 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '492'  and season = '2022'
    total_rows2: 1
    sudah ada
    [526/679] 153.  >> 493 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '493'  and season = '2021'
    total_rows2: 1
    sudah ada
    [527/679] 152.  >> 493 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '493'  and season = '2023'
    total_rows2: 1
    sudah ada
    [528/679] 151.  >> 494 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '494'  and season = '2022'
    total_rows2: 1
    sudah ada
    [529/679] 150.  >> 496 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '496'  and season = '2022'
    total_rows2: 1
    sudah ada
    [530/679] 149.  >> 499 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '499'  and season = '2022'
    total_rows2: 1
    sudah ada
    [531/679] 148.  >> 506 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '506'  and season = '2022'
    total_rows2: 1
    sudah ada
    [532/679] 147.  >> 506 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '506'  and season = '2023'
    total_rows2: 1
    sudah ada
    [533/679] 146.  >> 510 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '510'  and season = '2022'
    total_rows2: 1

    sudah ada
    [534/679] 145.  >> 518 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '518'  and season = '2022'
    total_rows2: 1
    sudah ada
    [535/679] 144.  >> 521 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '521'  and season = '2022'
    total_rows2: 1
    sudah ada
    [536/679] 143.  >> 521 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '521'  and season = '2023'
    total_rows2: 1
    sudah ada
    [537/679] 142.  >> 523 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '523'  and season = '2022'
    total_rows2: 1
    sudah ada
    [538/679] 141.  >> 523 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '523'  and season = '2023'
    total_rows2: 1
    sudah ada
    [539/679] 140.  >> 525 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '525'  and season = '2022'
    total_rows2: 1
    sudah ada
    [540/679] 139.  >> 528 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '528'  and season = '2021'
    total_rows2: 1
    sudah ada
    [541/679] 138.  >> 528 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '528'  and season = '2022'
    total_rows2: 1
    sudah ada
    [542/679] 137.  >> 536 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '536'  and season = '2022'
    total_rows2: 1
    sudah ada
    [543/679] 136.  >> 537 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '537'  and season = '2022'
    total_rows2: 1
    sudah ada
    [544/679] 135.  >> 547 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '547'  and season = '2022'
    total_rows2: 1
    sudah ada
    [545/679] 134.  >> 549 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '549'  and season = '2022'
    total_rows2: 1
    sudah ada
    [546/679] 133.  >> 549 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '549'  and season = '2023'
    total_rows2: 1
    sudah ada
    [547/679] 132.  >> 552 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '552'  and season = '2022'
    total_rows2: 1
    sudah ada
    [548/679] 131.  >> 553 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '553'  and season = '2022'
    total_rows2: 1
    sudah ada
    [549/679] 130.  >> 554 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '554'  and season = '2022'
    total_rows2: 1
    sudah ada
    [550/679] 129.  >> 556 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '556'  and season = '2022'
    total_rows2: 1
    sudah ada
    [551/679] 128.  >> 559 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '559'  and season = '2022'
    total_rows2: 1
    sudah ada
    [552/679] 127.  >> 563 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '563'  and season = '2022'
    total_rows2: 1
    sudah ada
    [553/679] 126.  >> 563 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '563'  and season = '2023'
    total_rows2: 1
    sudah ada
    [554/679] 125.  >> 564 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '564'  and season = '2022'
    total_rows2: 1
    sudah ada
    [555/679] 124.  >> 564 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '564'  and season = '2023'
    total_rows2: 1
    sudah ada
    [556/679] 123.  >> 586 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '586'  and season = '2022'
    total_rows2: 1
    sudah ada
    [557/679] 122.  >> 588 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '588'  and season = '2023'
    total_rows2: 1
    sudah ada
    [558/679] 121.  >> 592 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '592'  and season = '2022'
    total_rows2: 1
    sudah ada
    [559/679] 120.  >> 592 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '592'  and season = '2023'
    total_rows2: 1
    sudah ada
    [560/679] 119.  >> 593 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '593'  and season = '2022'
    total_rows2: 1
    sudah ada
    [561/679] 118.  >> 593 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '593'  and season = '2023'
    total_rows2: 1
    sudah ada
    [562/679] 117.  >> 594 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '594'  and season = '2022'
    total_rows2: 1
    sudah ada
    [563/679] 116.  >> 594 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '594'  and season = '2023'
    total_rows2: 1
    sudah ada
    [564/679] 115.  >> 595 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '595'  and season = '2022'
    total_rows2: 1
    sudah ada
    [565/679] 114.  >> 595 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '595'  and season = '2023'
    total_rows2: 1
    sudah ada
    [566/679] 113.  >> 596 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '596'  and season = '2022'
    total_rows2: 1
    sudah ada
    [567/679] 112.  >> 596 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '596'  and season = '2023'
    total_rows2: 1
    sudah ada
    [568/679] 111.  >> 597 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '597'  and season = '2022'
    total_rows2: 1
    sudah ada
    [569/679] 110.  >> 597 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '597'  and season = '2023'
    total_rows2: 1
    sudah ada
    [570/679] 109.  >> 598 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '598'  and season = '2022'
    total_rows2: 1
    sudah ada
    [571/679] 108.  >> 603 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '603'  and season = '2023'
    total_rows2: 1
    sudah ada
    [572/679] 107.  >> 604 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '604'  and season = '2023'
    total_rows2: 1
    sudah ada
    [573/679] 106.  >> 611 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '611'  and season = '2023'
    total_rows2: 1
    sudah ada
    [574/679] 105.  >> 616 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '616'  and season = '2023'
    total_rows2: 1
    sudah ada
    [575/679] 104.  >> 617 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '617'  and season = '2022'
    total_rows2: 1
    sudah ada
    [576/679] 103.  >> 623 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '623'  and season = '2023'
    total_rows2: 1
    sudah ada
    [577/679] 102.  >> 624 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '624'  and season = '2022'
    total_rows2: 1
    sudah ada

    [578/679] 101.  >> 624 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '624'  and season = '2023'
    total_rows2: 1
    sudah ada
    [579/679] 100.  >> 629 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '629'  and season = '2022'
    total_rows2: 1
    sudah ada
    [580/679] 99.  >> 629 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '629'  and season = '2023'
    total_rows2: 1
    sudah ada
    [581/679] 98.  >> 632 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '632'  and season = '2023'
    total_rows2: 1
    sudah ada
    [582/679] 97.  >> 652 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '652'  and season = '2022'
    total_rows2: 1
    sudah ada
    [583/679] 96.  >> 657 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '657'  and season = '2022'
    total_rows2: 1
    sudah ada
    [584/679] 95.  >> 657 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '657'  and season = '2023'
    total_rows2: 1
    sudah ada
    [585/679] 94.  >> 662 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '662'  and season = '2022'
    total_rows2: 1
    sudah ada
    [586/679] 93.  >> 667 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '667'  and season = '2023'
    total_rows2: 1
    sudah ada
    [587/679] 92.  >> 673 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '673'  and season = '2022'
    total_rows2: 1
    sudah ada
    [588/679] 91.  >> 673 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '673'  and season = '2023'
    total_rows2: 1
    sudah ada
    [589/679] 90.  >> 677 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '677'  and season = '2022'
    total_rows2: 1
    sudah ada
    [590/679] 89.  >> 680 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '680'  and season = '2022'
    total_rows2: 1
    sudah ada
    [591/679] 88.  >> 685 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '685'  and season = '2022'
    total_rows2: 1
    sudah ada
    [592/679] 87.  >> 688 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '688'  and season = '2022'
    total_rows2: 1
    sudah ada
    [593/679] 86.  >> 701 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '701'  and season = '2022'
    total_rows2: 1
    sudah ada
    [594/679] 85.  >> 702 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '702'  and season = '2022'
    total_rows2: 1
    sudah ada
    [595/679] 84.  >> 703 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '703'  and season = '2022'
    total_rows2: 1
    sudah ada
    [596/679] 83.  >> 704 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '704'  and season = '2022'
    total_rows2: 1
    sudah ada
    [597/679] 82.  >> 705 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '705'  and season = '2022'
    total_rows2: 1
    sudah ada
    [598/679] 81.  >> 706 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '706'  and season = '2022'
    total_rows2: 1
    sudah ada
    [599/679] 80.  >> 711 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '711'  and season = '2022'
    total_rows2: 1
    sudah ada
    [600/679] 79.  >> 711 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '711'  and season = '2023'
    total_rows2: 1
    sudah ada
    [601/679] 78.  >> 713 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '713'  and season = '2023'
    total_rows2: 1
    sudah ada
    [602/679] 77.  >> 714 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '714'  and season = '2022'
    total_rows2: 1
    sudah ada
    [603/679] 76.  >> 715 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '715'  and season = '2022'
    total_rows2: 1
    sudah ada
    [604/679] 75.  >> 720 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '720'  and season = '2023'
    total_rows2: 1
    sudah ada
    [605/679] 74.  >> 722 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '722'  and season = '2022'
    total_rows2: 1
    sudah ada
    [606/679] 73.  >> 726 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '726'  and season = '2022'
    total_rows2: 1
    sudah ada
    [607/679] 72.  >> 732 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '732'  and season = '2022'
    total_rows2: 1
    sudah ada
    [608/679] 71.  >> 736 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '736'  and season = '2022'
    total_rows2: 1
    sudah ada
    [609/679] 70.  >> 740 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '740'  and season = '2022'
    total_rows2: 1
    sudah ada
    [610/679] 69.  >> 740 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '740'  and season = '2023'
    total_rows2: 1
    sudah ada
    [611/679] 68.  >> 743 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '743'  and season = '2021'
    total_rows2: 1
    sudah ada
    [612/679] 67.  >> 744 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '744'  and season = '2022'
    total_rows2: 1
    sudah ada
    [613/679] 66.  >> 745 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '745'  and season = '2022'
    total_rows2: 1
    sudah ada
    [614/679] 65.  >> 745 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '745'  and season = '2023'
    total_rows2: 1
    sudah ada
    [615/679] 64.  >> 746 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '746'  and season = '2022'
    total_rows2: 1
    sudah ada
    [616/679] 63.  >> 747 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '747'  and season = '2022'
    total_rows2: 1
    sudah ada
    [617/679] 62.  >> 748 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '748'  and season = '2022'
    total_rows2: 1
    sudah ada
    [618/679] 61.  >> 749 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '749'  and season = '2022'
    total_rows2: 1
    sudah ada
    [619/679] 60.  >> 750 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '750'  and season = '2022'
    total_rows2: 1
    sudah ada
    [620/679] 59.  >> 750 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '750'  and season = '2023'
    total_rows2: 1
    sudah ada
    [621/679] 58.  >> 751 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '751'  and season = '2022'
    total_rows2: 1
    sudah ada
    [622/679] 57.  >> 752 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '752'  and season = '2022'

    total_rows2: 1
    sudah ada
    [623/679] 56.  >> 752 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '752'  and season = '2023'
    total_rows2: 1
    sudah ada
    [624/679] 55.  >> 753 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '753'  and season = '2022'
    total_rows2: 1
    sudah ada
    [625/679] 54.  >> 754 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '754'  and season = '2022'
    total_rows2: 1
    sudah ada
    [626/679] 53.  >> 755 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '755'  and season = '2022'
    total_rows2: 1
    sudah ada
    [627/679] 52.  >> 755 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '755'  and season = '2023'
    total_rows2: 1
    sudah ada
    [628/679] 51.  >> 767 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '767'  and season = '2022'
    total_rows2: 1
    sudah ada
    [629/679] 50.  >> 772 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '772'  and season = '2023'
    total_rows2: 1
    sudah ada
    [630/679] 49.  >> 773 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '773'  and season = '2023'
    total_rows2: 1
    sudah ada
    [631/679] 48.  >> 774 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '774'  and season = '2023'
    total_rows2: 1
    sudah ada
    [632/679] 47.  >> 775 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '775'  and season = '2022'
    total_rows2: 1
    sudah ada
    [633/679] 46.  >> 775 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '775'  and season = '2023'
    total_rows2: 1
    sudah ada
    [634/679] 45.  >> 776 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '776'  and season = '2023'
    total_rows2: 1
    sudah ada
    [635/679] 44.  >> 777 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '777'  and season = '2023'
    total_rows2: 1
    sudah ada
    [636/679] 43.  >> 778 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '778'  and season = '2023'
    total_rows2: 1
    sudah ada
    [637/679] 42.  >> 779 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '779'  and season = '2023'
    total_rows2: 1
    sudah ada
    [638/679] 41.  >> 780 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '780'  and season = '2022'
    total_rows2: 1
    sudah ada
    [639/679] 40.  >> 781 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '781'  and season = '2022'
    total_rows2: 1
    sudah ada
    [640/679] 39.  >> 782 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '782'  and season = '2022'
    total_rows2: 1
    sudah ada
    [641/679] 38.  >> 783 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '783'  and season = '2022'
    total_rows2: 1
    sudah ada
    [642/679] 37.  >> 810 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '810'  and season = '2022'
    total_rows2: 1
    sudah ada
    [643/679] 36.  >> 814 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '814'  and season = '2023'
    total_rows2: 1
    sudah ada
    [644/679] 35.  >> 816 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '816'  and season = '2022'
    total_rows2: 1
    sudah ada
    [645/679] 34.  >> 825 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '825'  and season = '2022'
    total_rows2: 1
    sudah ada
    [646/679] 33.  >> 848 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '848'  and season = '2021'
    total_rows2: 1
    sudah ada
    [647/679] 32.  >> 848 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '848'  and season = '2022'
    total_rows2: 1
    sudah ada
    [648/679] 31.  >> 848 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '848'  and season = '2023'
    total_rows2: 1
    sudah ada
    [649/679] 30.  >> 850 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '850'  and season = '2023'
    total_rows2: 1
    sudah ada
    [650/679] 29.  >> 850 - 2025
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '850'  and season = '2025'
    total_rows2: 1
    sudah ada
    [651/679] 28.  >> 858 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '858'  and season = '2023'
    total_rows2: 1
    sudah ada
    [652/679] 27.  >> 862 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '862'  and season = '2022'
    total_rows2: 1
    sudah ada
    [653/679] 26.  >> 863 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '863'  and season = '2022'
    total_rows2: 1
    sudah ada
    [654/679] 25.  >> 865 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '865'  and season = '2022'
    total_rows2: 1
    sudah ada
    [655/679] 24.  >> 871 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '871'  and season = '2022'
    total_rows2: 1
    sudah ada
    [656/679] 23.  >> 874 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '874'  and season = '2023'
    total_rows2: 1
    sudah ada
    [657/679] 22.  >> 875 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '875'  and season = '2022'
    total_rows2: 1
    sudah ada
    [658/679] 21.  >> 876 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '876'  and season = '2022'
    total_rows2: 1
    sudah ada
    [659/679] 20.  >> 877 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '877'  and season = '2022'
    total_rows2: 1
    sudah ada
    [660/679] 19.  >> 878 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '878'  and season = '2022'
    total_rows2: 1
    sudah ada
    [661/679] 18.  >> 879 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '879'  and season = '2022'
    total_rows2: 1
    sudah ada
    [662/679] 17.  >> 880 - 2021
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '880'  and season = '2021'
    total_rows2: 1
    sudah ada
    [663/679] 16.  >> 887 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '887'  and season = '2022'
    total_rows2: 1
    sudah ada
    [664/679] 15.  >> 888 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '888'  and season = '2022'
    total_rows2: 1
    sudah ada
    [665/679] 14.  >> 889 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '889'  and season = '2022'
    total_rows2: 1
    sudah ada
    [666/679] 13.  >> 890 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '890'  and season = '2022'
    total_rows2: 1
    sudah ada
    [667/679] 12.  >> 891 - 2022

    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '891'  and season = '2022'
    total_rows2: 1
    sudah ada
    [668/679] 11.  >> 892 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '892'  and season = '2022'
    total_rows2: 1
    sudah ada
    [669/679] 10.  >> 893 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '893'  and season = '2023'
    total_rows2: 1
    sudah ada
    [670/679] 9.  >> 895 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '895'  and season = '2022'
    total_rows2: 1
    sudah ada
    [671/679] 8.  >> 906 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '906'  and season = '2023'
    total_rows2: 1
    sudah ada
    [672/679] 7.  >> 909 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '909'  and season = '2023'
    total_rows2: 1
    sudah ada
    [673/679] 6.  >> 917 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '917'  and season = '2022'
    total_rows2: 1
    sudah ada
    [674/679] 5.  >> 929 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '929'  and season = '2023'
    total_rows2: 1
    sudah ada
    [675/679] 4.  >> 931 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '931'  and season = '2022'
    total_rows2: 1
    sudah ada
    [676/679] 3.  >> 942 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '942'  and season = '2022'
    total_rows2: 1
    sudah ada
    [677/679] 2.  >> 943 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '943'  and season = '2022'
    total_rows2: 1
    sudah ada
    [678/679] 1.  >> 960 - 2023
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '960'  and season = '2023'
    total_rows2: 1
    sudah ada
    [679/679] 0.  >> 976 - 2022
    select  COUNT(fixtureapi_id) AS counter   from football_fixtures  where leagueapi_id = '976'  and season = '2022'
    total_rows2: 1
    sudah ada